<!DOCTYPE html>
<html>
<head>
	<title>JavaScript - Online Training</title>
	<link rel="icon" href="logo.png">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="loader.css">
  <script src="loader.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
$(document).ready(function(){
  $("a").click(function(){
  	var value = $(this).attr("name");
    $("iframe").attr("src", value);
  });
});
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.count = 4;
});
$(document).ready(function(){
  $("#myList a").click(function(){
    $(this).addClass("active");
  });
});
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    $("#myList h3").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</head>
<style type="text/css">
	html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
</style>
<body style="background-color: white;margin:0;" onload="myFunction()">
<div id="loader"></div>
<div class="container animate-bottom" ng-app="myApp" ng-controller="myCtrl" style="display:none;" id="myDiv">
	<div class="row">
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="new-index.html"><img src="logo.png" style="width: 30px;height: 30px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="new-index.html">HOME</a></li>
        <li><a href="new-index.html#services">TUTORIALS</a></li>
        <li><a href="new-index.html#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
	</div><br><br><br><br>
	<div class="row">
		<h3 style="color: black;">Progress made by you : {{count}}%</h3>
		<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-success active" style="width:{{count}}%;max-width: 100%;">
      {{count}}%
    </div>
  </div>
	</div>
	<div class="row">
		<div class="col-sm-4"><hr>
			<div class="list-group" id="myList">
        <input type="text" class="form-control" id="myInput" placeholder="Search..." name="search"><br>
				<h3 style="color: white ; background-color: black ; padding: 5px 6px ;">JavaScript - Online Training</h3>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/hquaTFKYOqA" class="list-group-item active">JavaScript - Introduction</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/3OWNEFCrhjk" class="list-group-item">JavaScript - Getting Started</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/lxNeLmApvUQ" class="list-group-item">JavaScript - Variables</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/OjldfRR0pZs" class="list-group-item">JavaScript - Dialog Boxes</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/BYZswgIg6lc" class="list-group-item">JavaScript - Operators</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/1yYh0LHzwBc" class="list-group-item">JavaScript - Conditional Statements</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/yZQ_mqxdghA" class="list-group-item">JavaScript - If Else Statement</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/EsU2Fk1SNfg" class="list-group-item">JavaScript - Switch Statement</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/mQraUEEPw_w" class="list-group-item">JavaScript - Iteration Statement</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/fXnvXBLAKao" class="list-group-item">JavaScript - Loop Control Statements</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/ndZdpVaOi6g" class="list-group-item">JavaScript - For Loop</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/xUPrnxW2NXg" class="list-group-item">JavaScript - While Loop</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/SVHIKo4mPl4" class="list-group-item">JavaScript - Do While Loop</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/0gZwG5Ta_yE" class="list-group-item">JavaScript - Arrays</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/-eNSmT6X_vo" class="list-group-item">JavaScript - Strings</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/p4lF53_C7Yk" class="list-group-item">JavaScript - Objects</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/zHwYYVH2sjQ" class="list-group-item">JavaScript - Date</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/V_gb16Yf4wU" class="list-group-item">JavaScript - Functions</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/9hcZy6flIDo" class="list-group-item">JavaScript - Error Handling</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/xwRCGOeEo9Q" class="list-group-item">JavaScript - Events</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/b-fxPL6YjUQ" class="list-group-item">JavaScript - Page Redirect</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/Zgqa4nsyNFY" class="list-group-item">JavaScript - Cookies</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/FcZt56J97Ms" class="list-group-item">JavaScript - Validation</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/l5MEl7hTgME" class="list-group-item">JavaScript - Animation</a>
		<a href="#" ng-click="count = count + 4" name="https://www.youtube.com/embed/mLzjt0So5aQ" class="list-group-item">JavaScript - Image Map</a>
			</div>
		</div>
		<div class="col-sm-8" id="div2">
			<center>
		<hr>
		<h2 style="color: black;">JavaScript - Online Training</h2><br>
		<iframe width="700" height="420" src="https://www.youtube.com/embed/hquaTFKYOqA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br></center>
		</div>
	</div>
</div>
</body>
</html>